<h1 class="text-center">Saved Articles</h1>

<div class="container">
  <div class="row">
    <div clas="col-lg-8">
      <div id="saved-article"></div>
      <div id="notes"></div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>